body {
  background-color: rgb(171, 16, 99);
  text-align: center;
  color: rgb(237, 155, 54);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 25px;
  font-weight: bold;
}

img{
  width: 20%;
}
