body {
  background-color: rgb(62, 45, 90);
  text-align: center;
  color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 25px;
  font-weight: bold;
}

img{
  width: 20%;
}
