body {
  background-color: rgb(181, 21, 69);
  text-align: center;
  color: antiquewhite;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: 25px;
  font-weight: bold;
}

img {
  width: 25%;
}
